*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
*.properties
*.apk
*.pdf
*.aux
*.dvi
*.bbl
*.bcf
*.aux
*.blg
*.out
*.log
*.run.xml
*.toc
